#sidebar {
    display: none;
    font-size: 1.8vw;
    height: 100%;
    overflow: scroll;
}
#sidebar h2{
    text-align: center
}
#sidebar button{
    float: right;
}
.no-list {
    list-style:none;
}
#map-container {
    float: left;
    width: 100%;
    height: 100%;
}
#map {
    width: 100%; 
    height: 100%;
}
#map-container.open {
    width: 60%;
}
#sidebar.open {
    display: inline;
    float:right;
    width: 40%;
}
#toggle-button.open {
    display: none;
}
#toggle-button {
    position: fixed;
    display: block;
    right: 10px;
    bottom: 10px;
}
button{
    font-size: 25px;
    padding: 2px;
}
#legend-list{
    transform:scale(0.8, 0.8);   
}


#elevation{
  position: absolute;  
  top:70%;
  left:0;
  width:55%;
  background-color : transparent;
  z-index:99;
}

#collapse{
  width: 2.7vw;
  font-size: 2%;
  
  
  background-color: white;
  padding: 0%;
  padding-top:3%;
  padding-bottom:3%;
  
  border: solid 1px #BBB;   
  cursor: hand;
  float:left;

  border-left: none;
}
#collapse>img{
    width:90%;
}
#elevation-container{
    /*display: none;*/
    width:100%;
    height:25vh;        
    display: none;
    background-color: white;
    
    
    float left:;
    border: solid 1px #CCC;
    -webkit-box-shadow: 10px 10px 33px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 33px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 33px -11px rgba(0,0,0,0.75);
}
.visible-elev{
  display: block !important;  
}
.visible-elev + #collapse{
  
  float: right;
  margin-top: -25.3vh;
  margin-right: -2.8vw;
}

#elevation_chart{
    width:100%;
}