#sidebar {
    display: none;
    font-size: 25px;
    height: 100%;
    overflow: scroll;
}
#sidebar h2{
    text-align: center
}
#sidebar button{
    float: right;
}
.no-list {
    list-style:none;
}
#map-container {
    float: left;
    width: 100%;
    height: 100%;
}
#map {
    width: 100%; 
    height: 100%;
}
#map-container.open {
    width: 60%;
}
#sidebar.open {
    display: inline;
    float:right;
    width: 40%;
}
#toggle-button.open {
    display: none;
}
#toggle-button {
    position: fixed;
    display: block;
    right: 10px;
    bottom: 10px;
}
button{
    font-size: 25px;
    padding: 2px;
}
#legend-list{
    transform:scale(0.8, 0.8);   
}
